<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>start</display-name>
	<!-- <filter>
		<description>
		</description>
		<display-name>TIsLoginFilter</display-name>
		<filter-name>TIsLoginFilter</filter-name>
		<filter-class>com.qibu.filter.TIsLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TIsLoginFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping> -->
	<servlet>
		<description>
		</description>
		<display-name>TestAction</display-name>
		<servlet-name>TestAction</servlet-name>
		<servlet-class>test.TestAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TestAction2</display-name>
		<servlet-name>TestAction2</servlet-name>
		<servlet-class>test.TestAction2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadAction</display-name>
		<servlet-name>UploadAction</servlet-name>
		<servlet-class>com.qibu.action.UploadAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookAction</display-name>
		<servlet-name>BookAction</servlet-name>
		<servlet-class>com.qibu.action.BookAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClassifyAction</display-name>
		<servlet-name>ClassifyAction</servlet-name>
		<servlet-class>com.qibu.action.ClassifyAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NoteAction</display-name>
		<servlet-name>NoteAction</servlet-name>
		<servlet-class>com.qibu.action.NoteAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ArticleAction</display-name>
		<servlet-name>ArticleAction</servlet-name>
		<servlet-class>com.qibu.action.ArticleAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PageAction</display-name>
		<servlet-name>PageAction</servlet-name>
		<servlet-class>com.qibu.action.PageAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CommentAction</display-name>
		<servlet-name>CommentAction</servlet-name>
		<servlet-class>com.qibu.action.CommentAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserAction</display-name>
		<servlet-name>UserAction</servlet-name>
		<servlet-class>com.qibu.action.UserAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RecallAction</display-name>
		<servlet-name>RecallAction</servlet-name>
		<servlet-class>com.qibu.action.RecallAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestAction</servlet-name>
		<url-pattern>/TestAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestAction2</servlet-name>
		<url-pattern>/TestAction2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadAction</servlet-name>
		<url-pattern>/UploadAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookAction</servlet-name>
		<url-pattern>/BookAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassifyAction</servlet-name>
		<url-pattern>/ClassifyAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoteAction</servlet-name>
		<url-pattern>/NoteAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleAction</servlet-name>
		<url-pattern>/ArticleAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageAction</servlet-name>
		<url-pattern>/PageAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentAction</servlet-name>
		<url-pattern>/CommentAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAction</servlet-name>
		<url-pattern>/UserAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecallAction</servlet-name>
		<url-pattern>/RecallAction</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
